.nav-top {
  font-size: 1.25rem;
}
ul.nav-top {
    margin: 0 auto;
    text-align: left;
}
ul.nav-top li {
    display: inline-block;
    height: 3em;
    margin-right: 1em;
}
ul.nav-top a {
    display: block;
    width: 7em;
    line-height: 3em;
    background-color: #fed;
    border-radius: 8px;
}
ul.nav-top a:hover {
    color: #fed;
    background-color: #abc;
    cursor: pointer;
}

.nav-bottom {
  font-size: 1em;
}
ul.nav-bottom {
    margin: 0 auto;
    text-align: left;
    margin-top: 5em;
}
ul.nav-bottom li {
    display: inline-block;
    height: 1.25em;
}
ul.nav-top a {
    display: block;
    width: 3em;
    line-height: 1em;
    background-color: #fed;
    border-radius: 3px;
}
ul.nav-top a:hover {
    color: #fed;
    background-color: #abc;
    cursor: pointer;
}
